<div class="card mt-5" >
  <div class="p-3" >
    <h2>Visit & Statistics</h2>
    <input type="date" ngbDatepicker (change)="onDateChange($event)" class="form-control">

    <hr>
  </div>

  <div style="text-align:center;">
    <div>
      <div style="display: block">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
      
      </div>
    </div>
  </div>
</div>
